{% load static %}
<div class="swiffy-slider slider-item-show3 slider-item-reveal slider-nav-dark slider-nav-outside-expand">
    <ul class="slider-container py-4" id="slider2">
        {% for object in objects %}
            <li>
                {% include './product_cart.html' with object=object %}
            </li>
        {% endfor %}
    </ul>

    <button style="outline: none" type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button style="outline: none" type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
</div>